<% unless session[:user] %>
    <a href="/signin">ログイン</a> <a href="/signup">新規登録</a><br>
    <h2>未ログイン</h2>
<% else %>
    <form action="/new" method="post">
        <p>名前<input type="text" name="user_name"></p>
        <p>コメント<input type="text" name="body"></p>
        <p><input type="submit" value="投稿"></p>
    </form>
    <a href="/signout">ログアウト</a>
</form>
    <h2><%= User.find(session[:user]).mail %>としてログイン</h2>
    <ul>
            <% @contents.each do |content| %>
            <li>
                <p><%= content.name %></p>
                <p><%= content.body %></p>
            </li>
            <% end %>
    </ul>
<% end %>